body
{
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
}
canvas
{
    width: 100%;
    height: 100%;
}
#map
{
    position: absolute;
    width: 100%;
    height: 100%;
}
#notice
{
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 11pt;
    font-style: bold;
    text-align: center;
    vertical-align: middle;
    color: #eee;
}
.loading
{
    background-image: url('../images/coffee.png');
    background-position: -45 -45;
    top: 50%;
    width: 95px;
    height: 97px;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    position: absolute;
    padding-left: 20px;
    padding-top: 15px;
}
#search
{
    width: 170px;
    height: 29px;
    position: absolute;
    top: 2px;
    left: 110px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 2px;
}
#search input
{
    background-color: rgba(0, 0, 0, 0.3);
}
#tweets
{
    color: #333;
    font-size: 10px;
    background-color: #fff;
    position: absolute;
    width: 200px;
    height: 70%;
    top: 2%;
    right: 0px;
    overflow-y: scroll;
    border-radius: 2px 0 0 2px;
}
.tweet
{
    font-size: 10px;
    border-bottom: 1px solid #ccc;
    padding: 3px;
    color: #333;
}
.sent_input
{
    width: 100%;
    height: 29px;
    border-radius: 0 0 5px 5px;
    padding: 0;
    padding-left: 5px;
    margin: 0;
    border: none;
    outline: 0;
    font-family: Roboto, Arial, sans-serif;
    line-height: 29px;
    font-size: 8.25pt;
    color: #eee;
}
.sent_ul
{
  width: 100%;
  height: 0px;
  list-style: none;
  margin: 0;
	padding: 0;
	border: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: #eee;
  border-radius: 0px 0px 5px 5px;
}
.sent_ul > li
{
  width: calc(100%-5px);
  height: 29px;
  margin: 0;
	padding: 0;
	border: 0;
  border-top: 1px solid #b5b5b5;
  padding-left: 5px;
  line-height: 29px;
  font-size: 8.25pt;
  font-weight: normal;
}
.sent_ul > li:hover
{
  cursor: pointer;
  font-weight: 500;
  background-color: #555;
}
.sent_ul > li:last-child
{
  border-radius: 0px 0px 5px 5px;
}
.selected-terms
{
    color: #333;
    font-size: small;
    float: left;
    padding-left: 0;
    display: none;
}
.term
{
    background-color: #eee;
    border-radius: 4px;
    margin-top: 3px;
    padding: 2px;
}
.term i.fa.fa-times
{
    margin-left: 5px;
    margin-top: 1px;
    color: #CB3837;
}
.term i.fa.fa-times:hover
{
    color: black;
    cursor: pointer;
}
.gm-style .gm-style-iw
{
    overflow-y: scroll;
    max-height: 100px;
}
#term_frequency_wrapper
{
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
#term_frequency
{
}
th
{
    height: 55px;
    white-space: nowrap;
    font-size: 10px;
    color: #eee;
}
th > div
{
    transform:
        translate(16px, 12px)
        rotate(315deg);
    width: 25px;
}
th > div > span
{
    border-bottom: 1px solid #333;
    padding: 5px 0px;
}
#term_frequency_wrapper td
{
    color: #eee;
    font-size: 10px;
}
#term_frequency_wrapper th:hover
{
    cursor: pointer;
}
#term_frequency_wrapper th:hover
{
    text-decoration: underline;
}

i.fa.fa-times
{
    cursor: pointer;
}
i.fa.fa-times:hover
{
    color: red;
}
